<div class="page-header">
  <h1>All Posts</h1>
</div>

<button {{action 'createNew'}}>New Post</button>

{{#each post in model}}
	<div class="row">
	  <div class="col-xs-12 col-md-8">
	    {{post.details}}

	  </div>
	  <div class="col-xs-6 col-md-4">
		  <button {{action 'edit' post}}>Edit</button>
	  </div>
	</div>
{{/each}}



	