<div class="page-header">
	<div class="row">
	  <div class="col-xs-12 col-md-8">
        <h1>Showing post {{model.details}}</h1>
	  </div>
	  <div class="col-xs-6 col-md-4">
		  <button {{action 'edit' model}}>Edit</button>
	  </div>
	</div>
</div>

