<div class="page-header">
	<div class="row">
	  <div class="col-xs-12 col-md-8">
        <h1>{{model.title}}</h1>
	  </div>
	  <div class="col-xs-6 col-md-4">
		  <button {{action 'edit' model}}>Edit</button>
		  <button {{action 'viewAll' post}}>View All</button>
	  </div>
	</div>
</div>


<div class="row">
  <div class="col-xs-12 col-md-12">
    <p>{{model.details}}</p>
  </div>
</div>	
